body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

/* Landing page */
#home {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.main {
  background-image: url("../images/backgrounds/hero_image.jpg");
  background-size: cover;
  background-position: center;
}

/* Services section */
.services {
  width: 95%;
  margin: 0 auto;
  background-image: url("../images/backgrounds/services_image.jpg");
}

/* 'What we do' section */
#products {
  width: 95%;
  margin: 0 auto;
}

#products p {
  display: none;
}

#design-icon,
#design-para,
#development-icon,
#development-para,
#prod-icon,
#prod-para {
  cursor: pointer;
}

/* Portfolio section */
#portfolio {
  width: 95%;
  margin: 0 auto;
}

#project1,
#project2,
#project3,
#project4,
#project5,
#project6,
#project7,
#project8 {
  position: relative;
  text-align: center;
}

#project1 img,
#project2 img,
#project3 img,
#project4 img,
#project5 img,
#project6 img,
#project7 img,
#project8 img {
  cursor: pointer;
}

#project-one,
#project-two,
#project-three,
#project-four,
#project-five,
#project-six,
#project-seven,
#project-eight {
  font-size: 30px;
  color: darkblue;
  position: absolute;
  top: 50%;
  left: 30%;
  display: none;
}

/* Contact us section */
#contact {
  width: 95%;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-size: 25px;
}

#contact input::placeholder {
  color: white;
  font-size: 20px;
}

#contact textarea::placeholder {
  color: white;
  font-size: 20px;
}

.contact-us {
  background-image: url("../images/backgrounds/contact_us_image.jpg");
}

/* Socials section */
#socials {
  width: 95%;
  margin: 0 auto;
}
