body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

/* Landing page */
#home {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.main {
  background-image: url("../images/backgrounds/hero_image.jpg");
  background-size: cover;
  background-position: center;
}

/* Services section */
.services {
  width: 95%;
  margin: 0 auto;
  background-image: url("../images/backgrounds/services_image.jpg");
}

/* 'What we do' section */
#products {
  width: 95%;
  margin: 0 auto;
}

#products p {
  display: none;
}

/* Portfolio section */
#portfolio {
  width: 95%;
  margin: 0 auto;
}

/* Contact us section */
#contact {
  width: 95%;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  background: transparent;
  border: 1px solid white;
  color: white;
}

#contact input::placeholder {
  color: white;
  font-size: 20px;
}

#contact textarea::placeholder {
  color: white;
  font-size: 20px;
}

.contact-us {
  background-image: url("../images/backgrounds/contact_us_image.jpg");
}

/* Socials section */
#socials {
  width: 95%;
  margin: 0 auto;
}
